<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bearWalkRight0_1.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{58,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{58,93}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_2.Png</key>
            <dict>
                <key>frame</key>
                <string>{{97,194},{54,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{54,91}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_3.Png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{44,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{44,93}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_4.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{44,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{44,95}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_5.Png</key>
            <dict>
                <key>frame</key>
                <string>{{48,99},{54,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,93}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_6.Png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{40,93}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{40,93}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>bearWalkRight0_7.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{48,95}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bearWalkRight0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9faed823ab898824bb2d38cd7d29d2e$</string>
            <key>textureFileName</key>
            <string>bearWalkRight0.png</string>
        </dict>
    </dict>
</plist>
