<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{63,90}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>002.Png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{59,82}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>003.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{51,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{51,80}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>004.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{49,86}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{49,86}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>005.Png</key>
            <dict>
                <key>frame</key>
                <string>{{94,59},{45,90}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{45,90}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>006.Png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{55,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,94}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>007.Png</key>
            <dict>
                <key>frame</key>
                <string>{{176,239},{47,16}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>008.Png</key>
            <dict>
                <key>frame</key>
                <string>{{225,239},{47,12}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{47,12}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>009.Png</key>
            <dict>
                <key>frame</key>
                <string>{{239,239},{11,12}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,49},{11,12}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>010.Png</key>
            <dict>
                <key>frame</key>
                <string>{{140,236},{37,34}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{37,34}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>011.Png</key>
            <dict>
                <key>frame</key>
                <string>{{82,236},{43,56}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{43,56}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>012.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{55,94}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>013.Png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{61,78}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>014.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{57,78}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{57,78}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>015.Png</key>
            <dict>
                <key>frame</key>
                <string>{{90,171},{63,84}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>016.Png</key>
            <dict>
                <key>frame</key>
                <string>{{186,86},{65,88}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{65,88}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>017.Png</key>
            <dict>
                <key>frame</key>
                <string>{{94,106},{63,86}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>testExplosion.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a16e450261c9d1abcce7f236501c1ba$</string>
            <key>textureFileName</key>
            <string>testExplosion.png</string>
        </dict>
    </dict>
</plist>
