<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dinosaur0_1.Png</key>
            <dict>
                <key>frame</key>
                <string>{{122,410},{116,78}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{116,78}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_10.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{120,84}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_11.Png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,80}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{120,80}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_12.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{118,78}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{118,78}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_2.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{118,82}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{118,82}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_3.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{118,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,86}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_4.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{118,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{118,78}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_5.Png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{120,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{120,78}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_6.Png</key>
            <dict>
                <key>frame</key>
                <string>{{124,164},{120,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{120,76}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_7.Png</key>
            <dict>
                <key>frame</key>
                <string>{{122,328},{118,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{118,80}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_8.Png</key>
            <dict>
                <key>frame</key>
                <string>{{122,242},{118,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{118,84}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>dinosaur0_9.Png</key>
            <dict>
                <key>frame</key>
                <string>{{124,84},{120,78}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,78}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dinosaur0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1b42e2eebe74453675a6084a512e4e$</string>
            <key>textureFileName</key>
            <string>dinosaur0.png</string>
        </dict>
    </dict>
</plist>
